/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body {
background-color: rgb(64, 81, 59);
color: white;
}


.space-above {
    margin-top: 0px;
    padding-top: 0px;
}

/* Define the default color for the navigation links */
  .nav-item a {
    color: rgb(237, 241, 214); /* Default color */
    text-decoration: none; /* Remove underline */
  }

  /* Define the color when the user hovers over the navigation item */
  .nav-item a:hover {
    color: rgb(157, 192, 139); /* Hover color */
  }

  /* Define the color when the navigation item is active */
  .nav-item a:active {
    color: red; /* Active color */
 }

 h1 {
    color: rgb(237, 241, 214);
 }

 h2 {
    color: rgb(237, 241, 214);
 }

 h3 {
    color: rgb(237, 241, 214);
 }

 h4 {
    color: rgb(237, 241, 214);
 }

  p {
    color: rgb(237, 241, 214);
 }

 .card-header {
    background-color: #609966; /* Change to your desired color */
}

.card-body {
    background-color: #9DC08B; /* Change to your preferred color */
}

/* custom.css */
.text-primary {
  color: #EDF1D6 !important; /* Tomato color */
}


.bg-primary {
  background-color: #40513B !important;
}
.border-primary {
  border-color: #40513B !important;
}