{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Solar_Consulting{% endblock %}

{% block content %}

{% include "header.html" %}



{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}

<div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-right" >
    <div class="col-md-6 p-lg-5 mx-auto my-0">
        {{ render_form(form, novalidate=True, button_map={"submit": "secondary"})  }}
    </div>
</div>

    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div

<h1>HOLA MUNDO</h1>

{% include "footer.html" %}
{% endblock %}